<section class="banner">

    <div class="main-carousel">
        {%for block in section.blocks %}
        <div class="carousel-cell"><img alt="placeholder" src="{{block.settings.slide | img_url: '1920x'}}">
            <div class="carouseContent">
                <h2>{{block.settings.heading}}</h2>
                <p>{{block.settings.short-text}}</p>
                <div class="linkWrapper ">
                    <a class="btn btn-primary btn-large pl-4 pr-4" href="{{block.settings.button-1-url}}" role="button">
                        {{block.settings.button-1}}
                    </a>
                    <a class="btn btn-primary btn-large pl-4 pr-4" href="{{block.settings.button-2-url}}" role="button">
                        {{block.settings.button-2}}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>


{% schema %}
{
"name": "Homepage Carousel",
"presets": [
{
"category": "Custom Content",
"name": "Homepage Carousel"
}
],
"blocks":[
{
"type":"text",
"name": "Carousel Cells ",
"settings": [
{
"type": "image_picker",
"id": "slide",
"label": "Slide"
},
{
"type": "text",
"id": "heading",
"label": "Heading"
},
{
"type": "text",
"id": "short-text",
"label": "Short Text"
},
{
"type": "text",
"id": "button-1",
"label": "Button 1"
},
{
"type": "url",
"id": "button-1-url",
"label": "Button 1 URL"
},

{
"type": "text",
"id": "button-2",
"label": "button-2"
},
{
"type": "url",
"id": "button-2-url",
"label": "Button 2 URL"
}
]
}
]

}
{% endschema %}